<div class="container">

	<h1> 
		<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
		Application    
	</h1>
	<br><br>

	<fieldset>
		<p>
			<h2><%= @applicant.name %></h2>
		</p>

		<p>
			<h2><%= @applicant.gender %></h2>
		</p>

		<p>
			<h2><%= @applicant.name %></h2>
		</p>
	</fieldset>

</div>